.parent {
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    height: 510px;
    background-color: rgba(224, 224, 226, 0.63);
    }

.son {
    align-self: stretch;
}
.daughter {
    font-size: 42px;
    font-weight: 400;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    color: #DA9920;
    align-self: stretch;
    padding-left: 35px;
    flex-grow: 1;
}

.child2 {
    align-self: flex-end;
}

.child3 {
    align-self: flex-end;
    margin: 170px 0px 0px 0px;
        
    }

    .mother  {
        display: flex;
        flex-direction: row;
        background-color: rgba(224, 224, 226, 0.63);
        }
    
        .baby { 
            min-width: 500px;  
            background-color: #DA9920;
        }
        .child4 { 
    align-content: flex-start;
    margin: 40px 0px 20px 0px;
    font-size: 42px;
    font-weight: 400;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 0px 0px 40px;
    color: #302F2E;
        }

        .child5 {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 23px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 20px;
      }
        
        .child6 {
            flex-direction: row;
            justify-content: flex-start;
            font-size: 23px;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0px 0px 0px 20px;}

        .child7 {
            flex-direction: row;
            justify-content: flex-start;
            font-size: 23px;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            padding: 0px 0px 0px 20px;}
    
        .orphan {
            flex-grow: 1;  
            background-color: rgba(224, 224, 226, 0.63);
            margin: 0px 40px 0px 40px;
            color: #302F2E;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 23px;
            text-align: justify;

            
        }
        .text1 {
           max-width: 250px;
           margin: 0px 0px 15px 20px;
           padding: 0px 0px 0px 40px;
           color: #FFFFFF;
        }
        .img1 {
            max-width: 50px;
            float: left; 
            padding: 0px 0px 0px 20px;

        }

        .text2 {
           max-width: 500px;
           margin: 0px 0px 15px 20px;
           padding: 0px 0px 0px 40px;
           color: #FFFFFF;
        }
        .img2 {
            max-width: 50px;
            float:left; 
            padding: 0px 0px 0px 20px;

        }

        .text3 {
           max-width: 250px;
           margin: 0px 0px 15px 20px;
           padding: 0px 0px 0px 40px;
           color: #FFFFFF;
        }
        .img3 {
            max-width: 50px;
            float: left; 
            padding: 0px 0px 0px 20px;

        }
        .father  {
    display: flex;
    flex-direction: row;
    height: 510px;
    background-color: rgba(224, 224, 226, 0.63);
    }
    .skills {
        min-width: 500px;  
        background-color: #DA9920;
            }
   

    .edu {
        background-color: rgba(224, 224, 226, 0.63);
        flex-grow: 1;
        margin: 0px 40px 0px 40px;
        color: #302F2E;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        text-align: justify;
    }
    .child9 {
    font-size: 42px;
    font-weight: 400;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
    color: #DA9920;
    }
    .child8 {
        align-content: flex-start;
        margin: 40px 0px 20px 0px;
        font-size: 42px;
        font-weight: 400;
        font-variant: small-caps;
        font-family: 'Times New Roman', Times, serif;
        padding: 0px 0px 0px 40px;
        color: #302F2E;
    }
    .stepson {
    flex-direction: row;
    justify-content: flex-start;
    font-size: 23px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    padding: 0px 0px 0px 20px;
    }

    .child10 {
        font-size: 42px;
        font-weight: 400;
        font-variant: small-caps;
        font-family: 'Times New Roman', Times, serif;
        color: #DA9920;
        }

        .lang {
            align-content: flex-start;
            margin: 40px 0px 20px 0px;
            font-size: 42px;
            font-weight: 400;
            font-variant: small-caps;
            font-family: 'Times New Roman', Times, serif;
            padding: 0px 0px 0px 20px;
            color: #302F2E;
        }

        .step2 {
            flex-direction: row;
            justify-content: flex-start;
            font-size: 23px;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            padding: 0px 0px 0px 20px;}

    .auntmay {
        display: flex;
        flex-direction: row;
        background-color: rgba(224, 224, 226, 0.63);
    }
    .peter {
        max-width: 500px; 
        min-width: 500px; 
        background-color: #DA9920;}
    .tony {
        background-color: rgba(224, 224, 226, 0.63);
        margin: 40px 40px 0px 40px;
        color: #302F2E;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        text-align: justify;
    }
    .iron {
        font-size: 42px;
        font-weight: 400;
        font-variant: small-caps;
        font-family: 'Times New Roman', Times, serif;
        color: #DA9920;
    }
    .spider {align-content: flex-start;
        margin: 40px 0px 20px 0px;
        font-size: 42px;
        font-weight: 400;
        font-variant: small-caps;
        font-family: 'Times New Roman', Times, serif;
        padding: 0px 0px 0px 40px;
        color: #302F2E;
    }

        .code {
            flex-direction: row;
            justify-content: flex-start;
            font-size: 23px;
            font-weight: 300;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            padding: 0px 40px 0px 40px;
        }

    .itself {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    color:#302F2E;
    }

.main {
    margin: 50px 100px 50px 100px;
    background-color: rgba(224, 224, 226, 0.63);
    box-shadow: 15px 15px 12px 15px rgba(0,0,0,0.2);
}

.footer {
    margin: 0px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    background-color: rgba(224, 224, 226, 0.63);
}

.left {
    max-width: 500px; 
    min-width: 500px; 
    background-color: #DA9920;

}
.right {
    background-color: rgba(224, 224, 226, 0.63);
    margin: 0px 40px 0px 40px;
    color: #302F2E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-align: justify;
    align-items: flex-end;
}

.top1 {
    min-height: 200px;
    min-width: 500px;
    max-width: 500px;

}

.top2 {
    min-height: 245px;
    min-width: 500px;
    
}
.bottom1 {
    
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    color: #302F2E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.bottom2 {
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
}

.button {
    position: fixed;
    bottom: 50px;
    right: 70px;
}


